# Токен бота в Telegram, получать через @BotFather
BOT_TOKEN=TOKEN

# Он захардкожен на фронтенде, легче всего получить прочитав Request Body в запросе login
APP_KEY=APP_KEY_FROM_JOURNAL

# ID пользователей в Telegram которым разрешено пользоваться ботом, позже надо сделать опциональный Whitelist, Blacklist-mode
# Для множества пользователей: ["1234567890", "0987654321"]
# Для одного пользователя: ["123456789"]
WHITELIST=["1234567890"]

# Ключ для шифрования, не теряйте, обязателен к изменению! 
# Команда для генерации:
# python3 -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
SECRET_KEY=CHANGE-THIS-PLEASE

# Используйте стандартные, при изменении не забудьте поменять docker-compose.yml 
POSTGRES_URL=postgresql+asyncpg://postgres:postgres@db:5432/database
REDIS_URL=redis://redis:6379/0