# Пример файла .env, скопируйте его в .env и заполните нужными данными
# Команда: cp .env.example .env

# Токен бота в Telegram, получать через @BotFather
BOT_TOKEN=TOKEN

# Это ужасно реализованная защита от ботов. 
# Он захардкожен на фронтенде всегда одинаков, легче всего получить прочитав Request Body в запросе login
APP_KEY=APP_KEY_FROM_JOURNAL
 
# WHITELIST - только пользователи из списка могут пользоваться ботом
# BLACKLIST - все пользователи кроме тех, что в списке, могут пользоваться ботом
# ПРИМЕР: MODE=WHITELIST; MODE=BLACKLIST
MODE=WHITELIST

# ID пользователей в Telegram, в зависимости от режима, могут или не могут пользоваться ботом
# Для множества пользователей: ["1234567890", "0987654321"]
# Для одного пользователя: ["123456789"]
LIST=["1234567890"]

# Ключ для шифрования, не теряйте, обязателен к изменению! 
# Команда для генерации:
# python3 -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
SECRET_KEY=CHANGE-THIS-PLEASE

# Используйте стандартные, при изменении не забудьте поменять docker-compose.yml 
POSTGRES_URL=postgresql+asyncpg://postgres:postgres@db:5432/database
REDIS_URL=redis://redis:6379/0

# Сервисный пользователь для обновления данных
# Вот бы конечно мне предоставили апи ключи для доступа к данным, но нет, так что придется логиниться через акк студента
SERVICE_USER_LOGIN=login
SERVICE_USER_PASSWORD=password